<sco-pe id="table-scope">
    <table class="table" style="table-layout:fixed">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">7</th>
                <td>Bob</td>
                <td>The Sponge</td>
                <td>@bsponge</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Jack</td>
                <td>Smith</td>
                <td>@jcsmith</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Dummy</td>
                <td>Smith</td>
                <td>@dsmith</td>
            </tr>
        </tbody>
    </table>
</sco-pe>

<sco-pe id="nav-scope" data-scope-history="false">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="partials/external-controls-p2.html"><l-i name="chevron-left" set="bs"></l-i>
                    Previous</a></li>
            <li class="page-item"><a class="page-link" href="partials/external-controls-p1.html">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="partials/external-controls-p2.html">2</a></li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="partials/external-controls-p3.html">3</a></li>
            <li class="page-item disabled"><a class="page-link" href="partials/external-controls-p3.html">Next <l-i name="chevron-right"
                        set="bs"></l-i></a></li>
        </ul>
    </nav>
</sco-pe>